#intro{
    height: calc(100vh - 4rem);
    width: 100vw;
    max-width: 70rem;
    margin: 0 auto;
    overflow: hidden;
}

.bg{
    top: 2rem;
    position: absolute;
    right: 0;
    z-index: -1;
    object-fit: cover;
    height: 70vh;
    width: 70vh;
    margin-top: 10rem;
    margin-right: 8rem;
    border: 1px solid rgb(255, 255, 255);
    border-radius: 50%;
} 

.intro-icons{
    margin-top: 1rem;
    font-size: 1.5rem;
    margin-left: 0.5rem;
}

.intro-icon{
    margin-right: 0.8rem;
    cursor: pointer;
    color: white;
}

.intro-icon:hover{
    color: rgb(159, 148, 148);
}

.intro-content{
    height: 100vh;
    width: 100vw;
    padding: 2rem;
    font-size: 3rem;
    font-weight: 700;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.hello{
    font-size: 1.75rem;
    font-weight: 100;
}

.introname{
    color: yellow;
}

.intropara{
    font-size: medium;
    font-weight: 300;
    margin-top: 5px;
    letter-spacing: 1px;
}

.btn{
    background-color: white;
    width: 10rem;
    margin-top: 1rem;
    padding: 0.75rem 2rem;
    border: none;
    border-radius: 5rem;
    font-weight: 400;
    font-size: 1rem;
    cursor: pointer;
}

.btn:hover{
    background-color: rgb(159, 148, 148);
    color: white;
}

@media screen and (max-width: 1024px){
    .bg{
        top: 3rem;
        height: 60vh;
        width: 60vh;
        margin-right: 2rem;
    }
}



@media screen and (max-width: 720px){
    .bg{
        top: -1rem;
        left: 25vw;
        height: 50vh;
        width: 50vh;
    }
    .intro-content{
        font-size: 8vw;
        margin-top: 8rem;
        margin-left: 2rem;
    }
    .hello{
        font-size: 4vw;
    }
}

@media screen and (max-width: 480px){
    .bg{
        right: 0;
        left: 20vw;
        margin-left: 0;
        top: 0rem;
        height: 40vh;
        width: 40vh;
    }
    .intro-content{
        font-size: 8vw;
        margin-top: 10rem;
        margin-left: 0;
    }
    .hello{
        font-size: 4vw;
    }
}