#skills{
    overflow: hidden;
    width: 100vw;
    max-width: 65rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: 0 auto;
}

.skills-title{
    font-size: 3rem;
    font-weight: 600;
    padding-top: 3rem;
    margin-bottom: 1.5rem;
}


.skills-description{
    font-weight: 400;
    font-size: 1rem;
    max-width: 50rem;
    padding: 0 2rem;
}

.skills-bar{
    margin: 1.5rem;
    width: 100vw;
    max-width: 80%;
    text-align: left;
}

.skillbar{
    display: flex;
    margin: 1rem;
    padding: 1.5rem 2.0rem;
    border-radius: 0.5rem;
    background: rgb(50, 50, 50);
}

.skillbarhover1, .skillbarhover2, .skillbarhover3{
    transition: transform 0.5s ease;
}
.skillbarhover1:hover, .skillbarhover2:hover, .skillbarhover3:hover{
    transform: scale(1.1);
}


.skillsbarimg{
    object-fit:contain;
    height: 4rem;
    width: 4rem;
    margin-right: 1rem;
}

.skillsbartext{
    font-size: 0.9rem;
    font-weight: 100;
}

.skillsbartext h2:hover{
    color: yellow;
}

.skillsbartext p{
    font-size: 0.8rem;
}

@media screen and (max-width: 720px){
    .skillsbartext>p{
        font-size: 2vw;
    }
}

@media screen and (max-width: 480px){
    .skillsbartext>p{
        font-size: 3vw;
    }
    .skillsbarimg{
        height: 2.25rem;
        width: 2.25rem;
    }
    .skillsbartext>h2{
        font-size: 5vw;
    }
}